@font-face {
  font-family: "HurmeGeometricSans3W05-Rg";
  src: url("../../dist/assets/HurmeGeometricSans3W05-Rg.ttf"),
       url("../../dist/assets/HurmeGeometricSans3W05-Rg.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}