html, body, #app {
  height: 100%;
  margin: 0;
}

body { margin: 0}

/* Main content */
.main-content {
  background-color: #f9f9f9;
}

.dark .main-content {
  background-color: #2A1449;
}

/* Titels */
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h2, h3 {
  color: #1a1a1a;
}

.dark h2,
.dark h3 {
  color: #ffffff;
}

p {
  color:#1a1a1a;
}

.dark p {
  color: #ffffff !important;
}
/* Algemeen voor input veld teksten */
.name-input,
.roomnumber-input {
  color: #1a1a1a;
}

.dark .name-input,
.dark .roomnumber-input {
  color: #ffffff;
}

/* Card styles */
.v-card {
  border-radius: 12px;
  background-color: #f9f9f9;
}

.dark .v-card {
  background-color: #2A1449;
}

.dark .v-card-title,
.dark .v-card-text {
  color: #ffffff;
}

.secondary-btn {
  border-radius: 9999px;
}

.dark .v-btn.v-btn--variant-outlined {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(255, 255, 255, 0.379);
}

.dark .v-btn.v-btn--variant-outlined:disabled {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(255, 255, 255, 0);
}

.v-btn.v-btn--variant-outlined:focus-visible,
.v-btn:focus-visible {
  outline: 2px solid #0000ff;
  outline-offset: 2px;
  border-radius: 8px;
}

.dark .v-btn.v-btn--variant-outlined:focus-visible,
.dark .v-btn:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
  border-radius: 8px;
}
