html, body, #app {
  height: 100%;
  margin: 0;
}

/* Card styles */
.v-card {
  border-radius: 12px;
}

.dark .v-card {
  background-color: #121212;
}

.dark .v-card-title,
.dark .v-card-text {
  color: #ffffff;
}

/* Buttons */
.primary-btn {
  background-image: linear-gradient(40deg, #4c1f82, #8c1d82 14%, #cf0220 50%, #ffb15c);
  border-radius: 9999px;
  box-shadow: 0 2px 6px #0000004d;
  color: white;
  font-weight: 500;
  text-transform: none;
}

.primary-btn:hover {
  filter: brightness(1.1);
}

.primary-btn:disabled {
  filter: grayscale(0.5);
  opacity: 0.6;
  cursor: not-allowed;
}

.secondary-btn {
  border-radius: 9999px;
}
